.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.contact.section-with-bg::before {
  background-color: var(--desaturated-blue);
}
.contact__text {
  width: 70%;
}
.contact__inputs-input {
  width: 100%;
  margin-bottom: 1.2rem;
}
@media (max-width: 767px) {
  .contact {
    text-align: center;
    flex-direction: column;
  }
  .contact__inputs-button {
    width: 100%;
  }
}
