.features {
  display: flex;
  align-items: center;
  justify-content: center;
}
.features__content-text {
  line-height: 1.5;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.features__content-link {
  color: var(--moderate-cyan);
  text-decoration: underline;
  font-weight: semi-bold;
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 4.6rem;
}
.features__content-testimonial {
  padding: 1.8rem 3.6rem;
  border-radius: 1.4rem;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  width: 60%;
}
.features-testimonial__description {
  font-size: 2rem;
  line-height: 1.4;
}
.author {
  margin-top: 2.4rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.author__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.author__info-name {
  font-weight: bold;
}
@media (max-width: 900px) {
  .features {
    flex-direction: column;
    text-align: center;
  }
  .features__image {
    order: -1;
    margin-bottom: 3.6rem;
  }
  .features__content-testimonial {
    margin: 0 auto;
  }
}
