.footer__data {
  display: grid;
  align-items: center;
  justify-content: center;
}
.footer__data.section-with-bg::before {
  background-color: var(--very-dark--blue);
}
.footer__logo {
  color: white;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
