body {
  font-size: 1.6rem;
  color: var(--very-dark--blue);
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3 {
  font-size: 6.4rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin-bottom: 2.4rem;
}
.container {
  max-width: 90%;
  margin: 0 auto;
}
section {
  padding: 12rem 0;
}
@media (max-width: 767px) {
  html {
    font-size: 8px;
  }
}
