:root {
  --very-dark--blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);
  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
  border: none;
}

ul,
ol {
  list-style: none;
}

body {
  font-size: 1.6rem;
  color: var(--very-dark--blue);
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  font-size: 6.4rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin-bottom: 2.4rem;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

section {
  padding: 12rem 0;
}

@media (max-width: 767px) {
  html {
    font-size: 8px;
  }
}
.header {
  padding: 3.6rem 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
}

.header__nav-link {
  padding: 1.2rem;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.hero__content-text {
  line-height: 1.5;
  font-size: 2rem;
  margin-bottom: 2.2rem;
}

.hero__content-inputs {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.hero__content-input {
  width: 50%;
  padding: 1rem 3.2rem;
  border: 1px solid black;
  outline: none;
  font-size: 1.6rem;
}

.hero__content-button {
  width: 30%;
  background-color: var(--bright-blue);
  color: white;
  padding: 1rem 2rem;
}

@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }
  .hero__image {
    width: 70%;
    order: -1;
    margin-bottom: 3.6rem;
  }
  .hero__content-inputs {
    margin-top: 4rem;
  }
}
@media (max-width: 600px) {
  .hero__content-inputs {
    flex-direction: column;
    align-items: center;
  }
  .hero__content-input {
    width: 100%;
  }
  .hero__content-button {
    width: 100%;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.features {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features__content-text {
  line-height: 1.5;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.features__content-link {
  color: var(--moderate-cyan);
  text-decoration: underline;
  font-weight: semi-bold;
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 4.6rem;
}

.features__content-testimonial {
  padding: 1.8rem 3.6rem;
  border-radius: 1.4rem;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  width: 60%;
}

.features-testimonial__description {
  font-size: 2rem;
  line-height: 1.4;
}

.author {
  margin-top: 2.4rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.author__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.author__info-name {
  font-weight: bold;
}

@media (max-width: 900px) {
  .features {
    flex-direction: column;
    text-align: center;
  }
  .features__image {
    order: -1;
    margin-bottom: 3.6rem;
  }
  .features__content-testimonial {
    margin: 0 auto;
  }
}
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */